.container {
  display: flex;
  height: 100%;
}

.sidenav {
  height: 100%;
  width: 200px;
  &.left {
    border-right: 3px groove rgba(0,0,0,.12);
  }
  &.right {
    width: 350px;
    border-left: 3px groove rgba(0,0,0,.12);
  }
}

.dataTable {
  flex-grow: 1;
}

.sidenav + .sidenav {
  margin-left: 2%;
}
